<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity
            android:label="History"
            android:name=".user.finance.FinanceManagementActivity"/>
        <activity
            android:label="Transfer Sesama M Pay"
            android:name=".user.menu.mpay.MPayActivity" />
        <activity
            android:label="Transfer Ke Bank"
            android:name=".user.menu.bank.BankActivity" />
        <activity
            android:label="Menejement Transfer"
            android:name=".user.menu.TransferManagementActivity" />
        <activity
            android:name=".user.ppob.wifi.WifiRequestActivity"
            android:label="Pembayaran TV Kabel Dan Wifi" />
        <activity
            android:name=".user.ppob.tabCashBNI.TabCashBNIActivity"
            android:label="Tab Cash BNI" />
        <activity
            android:name=".user.ppob.plnCredit.PLNCreditRequestActivity"
            android:label="PLN Pascabayar" />
        <activity
            android:name=".user.ppob.pdam.PDAMRequestActivity"
            android:label="PDAM" />
        <activity
            android:name=".user.ppob.payment.PaymentRequestActivity"
            android:label="Payment" />
        <activity
            android:name=".user.ppob.multiFinance.MultiFinanceRequestActivity"
            android:label="Multi Finance" />
        <activity
            android:name=".user.ppob.insurance.InsuranceRequestActivity"
            android:label="Insurance" />
        <activity
            android:name=".user.ppob.eMoneyMandiri.EMoneyMandiriRequestActivity"
            android:label="E-Monay Manidiri" />
        <activity
            android:name=".user.ppob.ovo.OvoRequestActivity"
            android:label="OVO" />
        <activity
            android:name=".user.ppob.grap.GrabRequestActivity"
            android:label="GRAP" />
        <activity
            android:name=".user.ppob.goPay.GoPayRequestActivity"
            android:label="Go-Pay" />
        <activity
            android:name=".user.ppob.dana.DanaRequestActivity"
            android:label="DANA" />
        <activity
            android:name=".user.ppob.bpjs.BpjsRequestActivity"
            android:label="PBJS" />
        <activity
            android:name=".user.ppob.pln.PlnResponseActivity"
            android:label="Konfirmasi Transaksi" />
        <activity
            android:name=".user.ppob.pln.PlnRequestActivity"
            android:label="PLN" />
        <activity
            android:name=".user.ppob.postPaidCredit.PostPaidCreditResponseActivity"
            android:label="Konfirmasi Transaksi" />
        <activity
            android:name=".user.ppob.postPaidCredit.PostPaidCreditRequestActivity"
            android:label="Pulsa Pascabayar" />
        <activity
            android:name=".user.ppob.postPaid.PostPaidResponseActivity"
            android:label="Konfirmasi Transaksi" />
        <activity
            android:name=".user.ppob.postPaid.PostPaidRequestActivity"
            android:label="Pulsa" />
        <activity
            android:name=".password.update.UpdatePasswordActivity"
            android:label="Lupa Kata Sandi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".password.edit.EditPasswordActivity"
            android:label="Lupa Kata Sandi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RegisterUserActivity"
            android:label="Pendaftaran">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".user.menu.SetNominalActivity"
            android:label="@string/transfer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.menu.ScanActivity" />
        </activity>
        <activity
            android:name=".user.menu.ScanActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".user.menu.MPayIdActivity"
            android:label="@string/mp_id"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.ppob.MoreActivity"
            android:label="@string/more"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.member.HomeMemberActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".VerifyLoginActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".user.merchant.HomeMerchantActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>